<IfModule security2_module>
    SecRuleRemoveByTag unoeuro
</IfModule>

RewriteEngine On
RewriteBase /

RewriteRule ^(client|api)($|/) - [L]

RewriteCond %{REQUEST_URI} ^/static/
RewriteRule (static)(.*?)?$ /social_usage_tracking/client/bin/$2 [L]

RewriteRule ^ social_usage_tracking/client/bin/index.html [L,QSA]