<IfModule security2_module>
    SecRuleRemoveByTag unoeuro
</IfModule>

RewriteEngine On
RewriteBase /social_usage_tracking/

RewriteRule ^(client|api)($|/) - [L]

RewriteCond %{REQUEST_URI} ^
RewriteRule (static)(.*?)?$ client/bin/$2 [L]

RewriteRule ^ client/bin/index.html [L,QSA]